<% include partials/header %>
  <div class="ui two column centered grid">
    <div class="computer only column">
      <div class="ui main container">
        <div class="ui container segment raised">
          <h1>Create A New Post</h1>
          <form class="ui form" action="/blogs" method="post">
            <div class="field">
              <label>Title: </label>
              <input type="text" name="blog[title]" placeholder="Title">
            </div>
            <div class="field">
              <label>Image: </label>
              <input type="text" name="blog[image]" placeholder="Image url">
            </div>
            <div class="field">
              <label>Content: </label>
              <textarea name="blog[body]" rows="8" cols="80" placeholder="Body of the post"></textarea>
            </div>
            <button class="ui button basic violet big" type="submit" name="createNewButton">Create Post</button>
            <p><a href="/">Cancel</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="ui centered grid">
    <div class="tablet mobile only column">
      <div class="ui main container">
        <div class="ui container segment raised">
          <h1>Create A New Post</h1>
          <form class="ui form" action="/blogs" method="post">
            <div class="field">
              <label>Title: </label>
              <input type="text" name="blog[title]" placeholder="Title">
            </div>
            <div class="field">
              <label>Image: </label>
              <input type="text" name="blog[image]" placeholder="Image url">
            </div>
            <div class="field">
              <label>Content: </label>
              <textarea name="blog[body]" rows="8" cols="80" placeholder="Body of the post"></textarea>
            </div>
            <button class="ui button basic violet big" type="submit" name="createNewButton">Create Post</button>
            <p><a href="/">Cancel</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
<% include partials/footer %>
